<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 head">
				<h3>Web scrapping - site https://en.aptoide.com</h3>
			</div>
		</div>
	</div>	
	<div class="container bod">
		<div id="loading-overlay" class="overlay" style="display: none;">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
		<div class="row">

			<div class="col-md-6">
				<h4>Extraire les contenus du site https://en.aptoide.com</h4>
			
				<div id="reponse"></div>
				<form id="extractForm">	
					<div class="form-group">
						<label for="text">Entrer le link https://en.aptoide.com dans le champs ci-dessous</label>
						<input class="form-control" name="link" rows="10" cols="40" id="link" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary" id="extract" disabled="disabled">Extraire les contenus</button>
					</div>
				</form>
			</div>
			<input type="hidden" name="site_url" value="localhost:5000/" id="site_url">
				
		</div>
	</div>

	<div class="rows" id="block_resultat">
		<h2>Informations obtenues dans le site https://en.aptoide.com</h2>
		<div class="col-md-12" id="resultat"></div>
	</div>

			

	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>

</body>
</html>

